<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
    function validateForm()
{
    var nom = document.forms["myForm"]["inputname"];
    var prenom = document.forms["myForm"]["inputprenom"];
    var email = document.forms["myForm"]["inputemail"];
    var motif = document.forms["myForm"]["inputmotif"];
    var cout = document.forms["myForm"]["inputcout"];
    var impacts = document.forms["myForm"]["inputimpacts"];
    var financement = document.forms["myForm"]["inputfinancement"];
    var activite_scientifique = document.forms["myForm"]["inputactivite_scientifique"];
    var impact_production = document.forms["myForm"]["inputimpact_production"];
    var impact_collectif = document.forms["myForm"]["inputimpact_collectif"];

    if (nom.value == "")
    {
        document.getElementById('errornom').innerHTML="Veuillez entrez un nom";
        nom.focus();
        return false;
    }else{
        document.getElementById('errornom').innerHTML="";
    }
    if (prenom.value == "")
    {
        document.getElementById('errorprenom').innerHTML="Veuillez entrez un prénom";
        prenom.focus();
        return false;
    }else{
        document.getElementById('errorprenom').innerHTML="";
    }
    if (email.value == "")
    {
        document.getElementById('erroremail').innerHTML="Veuillez entrez une adresse mail valide";
        email.focus();
        return false;
    }else{
        document.getElementById('erroremail').innerHTML="";
    }

    if (email.value.indexOf("@", 0) < 0)
    {
        document.getElementById('erroremail').innerHTML="Veuillez entrez une adresse mail valide";
        email.focus();
        return false;
    }

    if (email.value.indexOf(".", 0) < 0)
    {
        document.getElementById('erroremail').innerHTML="Veuillez entrez une adresse mail valide";
        email.focus();
        return false;
    }
    if (motif.value == "")
    {
        document.getElementById('errormotif').innerHTML="Veuillez entrez un motif";
        motif.focus();
        return false;
}
if (cout.value == "")
{
    document.getElementById('errorcout').innerHTML="Veuillez entrez un coût";
    cout.focus();
    return false;
}

if (impacts.value == "")
{
    document.getElementById('errorimpacts').innerHTML="Veuillez entrez les impacts logistiques de la demande";
    impacts.focus();
    return false;
}

if (financement.value == "")
{
    document.getElementById('errorfinancement').innerHTML="Veuillez entrez les sources de financement ";
    financement.focus();
    return false;
}

if (activite_scientifique.value == "")
{
    document.getElementById('erroractivite_scientifique').innerHTML="Veuillez entrez les impacts à plus ou moins long terme";
    activite_scientifique.focus();
    return false;
}

if (impact_production.value == "")
{
    document.getElementById('errorimpact_production').innerHTML="Veuillez entrez l'impact sur la production";
    impact_production.focus();
    return false;
}

if (impact_collectif.value == "")
{
    document.getElementById('errorimpact_collectif').innerHTML="Veuillez entrez l'impact collectif";
    impact_collectif.focus();
    return false;
  }


Email.send({

    // Host : "smtp.gmail.com",
    // Username : "roselyne.angeville@univ-lr.fr",
    // Password : "mot de passe",
    // To : "roselyne.angeville@univ-lr.fr",
    // From : "roselyne.angeville@univ-lr.fr",

    Host : "smtp.gmail.com",
    Username : "laboratoiremia@gmail.com",
    Password : "laboratoiremia",
    To : "laboratoiremia@gmail.com",
    Username : "laboratoiremia@gmail.com",
    From : "laboratoiremia@gmail.com",


    Subject : document.getElementById("inputname").value,
    Body :  "<h1>" +"Nom :" + document.getElementById("inputname").value +"</h1><h1>"+
    "<h1>" +"Prenom :" + document.getElementById("inputprenom").value +"</h1><h1>"+
    "<h1>" +"Email :" + document.getElementById("inputemail").value +"</h1><h1>"+
      "<h1>" +"Motif de la demande :" + document.getElementById("inputmotif").value +"</h1><h1>"+
      "<h1>" +"Coût de la demande :" + document.getElementById("inputcout").value +"</h1><h1>"+
    "<h1>" +  "Impacts logistiques de la demande :" + document.getElementById("inputimpacts").value +"</h1><h1>"+
    "<h1>" +  "Sources de financement :" + document.getElementById("inputfinancement").value +"</h1><h1>"+
    "<h1>" +  "Impact à plus ou moins long terme :" + document.getElementById("inputactivite_scientifique").value+"</h1><h1>"+
    "<h1>" +  "Impact sur la production :" + document.getElementById("inputimpact_production").value+"</h1><h1>"+
    "<h1>" +  "Impact collectif  :" + document.getElementById("inputimpact_collectif").value+"</h1><h1>"+
    "<h1>" +  "Champ libre  :" + document.getElementById("inputchamp_libre").value,
}).then(
    message => alert(message)
);

}
</script>


</head>


<body>
<form name="myForm" method="post" >

  <span > Votre Nom <span style="color: red;">*</span></span>
  <input  type="text" id="inputname" />
     <span class="error" id="errornom"></span>
  <br><br>
  <label >Votre Prénom <span style="color: red;">*</span></label>
  <input  type="text" id="inputprenom" value="" />
     <span class="error" id="errorprenom"></span>
  <br> <br>
  <label >Votre Email <span style="color: red;">*</span></label>
  <input type="text" id="inputemail" value="" />
     <span class="error" id="erroremail"></span>
  <br> <br>
  <b>Description précise de la demande</b>
  <br> <br>
  <label>Motif de la demande <span style="color: red;">*</span></label>
  <textarea id="inputmotif" class="long field-textarea" placeholder= "Donner ici une description précise de la demande : mission à l’extérieur de l’établissement, invitation, demande de matériel, organisation d’évènement..."></textarea>
     <span class="error" id="errormotif"></span>
  <br> <br>
  <label> Coût de la demande <span style="color: red;">*</span> </label>
  <textarea id="inputcout" class="long field-textarea" placeholder= "Donner ici une estimation réelle du coût de la demande : prix des billets de train, d'avion, de navette, de bus, de métro, prix des nuitées... Cette estimation servira de base pour le remboursement."></textarea>
   <span class="error" id="errorcout"></span>
  <br> <br>
  <label>Impacts logistiques de la demande <span style="color: red;">*</span> </label>
  <textarea  id="inputimpacts" class="long field-textarea" placeholder = "Est-il nécessaire de prévoir des actions particulières (mettre à disposition un bureau, un ordinateur, faire des demandes auprès de l’administration comme l’ouverture d’un compte informatique, une demande de clé...) ?"></textarea>
   <span class="error" id="errorimpacts"></span>
  <br> <br>
  <b> Financement de la demande </b>
  <br> <br>
  <label>Sources de financement <span style="color: red;">*</span></label>
  <textarea  id="inputfinancement" placeholder = "Donner ici des éléments permettant de connaître les moyens financiers dont vous disposez pour financer cette demande : les projets ACI ou PRES, les projets ANR, la participation à des GDR..." aria-labelledby=”message”></textarea>
   <span class="error" id="errorfinancement"></span>
  <br> <br>
  <b> Impact sur l'activité scientifique </b> <br><br>
  <label>Impact à plus ou moins long terme <span style="color: red;">*</span></label>
  <textarea id="inputactivite_scientifique"  placeholder = "S’agit-il d’une demande ponctuelle ou s’inscrit-elle dans une collaboration effective qui est amenée à se poursuivre ? sous quelle forme ?" aria-labelledby=”message”></textarea>
   <span class="error" id="erroractivite_scientifique"></span>
  <br> <br>
  <label>Impact sur la production <span style="color: red;">*</span></label>
  <textarea  id="inputimpact_production" placeholder = "Quels résultats en termes de production peut-on attendre (articles, communication dans une conférence, rédaction d’une demande de financement, mise en place d’un partenariat...) ?" aria-labelledby=”message”></textarea>
   <span class="error" id="errorimpact_production" ></span>
  <br> <br>
  <label>Impact collectif <span style="color: red;">*</span></label>
  <textarea id="inputimpact_collectif"  placeholder = "Expliquez si possible comment cette demande peut bénéficier aux autres membres du laboratoire."aria-labelledby=”message”></textarea>
<span class="error" id="errorimpact_collectif"></span>
  <br> <br>
  <label>Champ libre</label>
  <textarea id="inputchamp_libre"  placeholder = "Fournir ici toutes les informations complémentaires que vous jugerez pertinentes." aria-labelledby=”message”></textarea>
<span class="error" id="errorchamp_libre"></span>
   <button type="button" class="btn btn-primary" onClick="validateForm()"> Envoyer</button>
   <button type="reset" class="btn btn-primary" > Remise à zéro</button>
</form>
</body>
<style>

.error{
  color: #D8000C;
  background-color: #FFBABA;
}
</style>
