<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Envoi d'un message par formulaire</title>
</head>

<body>
  <form>
  <div class="row">
    <label for="inputname"> Votre nom </label>
    <input type="text" name="name" class="form-control" id="inputname" action="index.html" method="post">
  </div>
  <div>
    <label for="inputemail"> Votre email </<label>
   <input type="text" name="email" class="form-control" id="inputemail">
   </div>
   <div class="form-group">
     <label for="inputmessage"> Votre message </label>
     <textarea id="inputmessage" naame="message"></textarea>
      </div>
    <button type="submit" class="btn btn-primary"> Envoyer</button>
    </form>
</body>
</html>
