
<form class="contact-form-wrapper" accept-charset="UTF-8" method="POST" role="form" action="mailto:ammarsirine3@gmail.com">
  <label for=”name”>Name</label>
  <input type=”text” id=”name” name=”name” required placeholder=Your Name” aria-labelledby=”name”/>
  <br> <br> <br>
  <label for=”email”>Email Address</label>
  <input type=”email” id=”email” name=”email” required placeholder=Email aria-labelledby=”email”/>
  <br> <br> <br>
  <label for=”message”>Message</label>
  <textarea id=”message” name=”message” aria-labelledby=”message”></textarea>
  <br> <br> <br>

  <input type="submit" value="Send Email" />
  <
</form>
<style>
.contact-form-wrapper {
width: 75%;
padding: 30px;
background: grey;
}
.contact-form-
wrapper input[type=text], input[type=email], textarea {
width: 100%;
margin-bottom: 15px;
padding: 5px;
}
.contact-form-wrapper textarea {
height: 20vh;
}
input[type=submit] {
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
font-size: 1.25em;
width: 20%;
padding: 10px;
}
input[type=submit]:hover {
background-color: orange;
}
</style>
