<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
    function validateForm()
{
    var nom = document.forms["myForm"]["inputname"];
    var prenom = document.forms["myForm"]["inputprenom"];
    var email = document.forms["myForm"]["inputemail"];
    var lieu = document.forms["myForm"]["inputlieu"];
    var Date_départ = document.forms["myForm"]["inputDate_départ"];
    var Date_retour = document.forms["myForm"]["inputDate_retour"];

    if (nom.value == "")
    {
        document.getElementById('errorname').innerHTML="Veuillez entrez un nom";
        nom.focus();
        return false;
    }else{
        document.getElementById('errorname').innerHTML="";
    }
    if (prenom.value == "")
    {
        document.getElementById('errorprenom').innerHTML="Veuillez entrez un prénom";
        prenom.focus();
        return false;
    }else{
        document.getElementById('errorprenom').innerHTML="";
    }

    if (email.value == "")
    {
        document.getElementById('erroremail').innerHTML="Veuillez entrez une adresse mail valide";
        email.focus();
        return false;
    }else{
        document.getElementById('erroremail').innerHTML="";
    }

    if (email.value.indexOf("@", 0) < 0)
    {
        document.getElementById('erroremail').innerHTML="Veuillez entrez une adresse mail valide";
        email.focus();
        return false;
    }

    if (email.value.indexOf(".", 0) < 0)
    {
        document.getElementById('erroremail').innerHTML="Veuillez entrez une adresse mail valide";
        email.focus();
        return false;
    }

    if (lieu.value == "")
    {
        document.getElementById('errorlieu').innerHTML="Veuillez entrez le lieu de la mission";
        lieu.focus();
        return false;

}
if (Date_départ.value == "")
{
    document.getElementById('errorDate_départ').innerHTML="Veuillez entrez le lieu de la mission";
    Date_départ.focus();
    return false;

}
if (Date_retour.value == "")
{
    document.getElementById('errorDate_retour').innerHTML="Veuillez entrez le lieu de la mission";
    Date_retour.focus();
    return false;

}
Email.send({

    // Host : "smtp.gmail.com",
    // Username : "roselyne.angeville@univ-lr.fr",
    // Password : "mot de passe",
    // To : "roselyne.angeville@univ-lr.fr",
    // From : "roselyne.angeville@univ-lr.fr",

    Host : "smtp.gmail.com",
    Username : "laboratoiremia@gmail.com",
    Password : "laboratoiremia",
    To : "laboratoiremia@gmail.com",
    Username : "laboratoiremia@gmail.com",
    From : "laboratoiremia@gmail.com",


    Subject : document.getElementById("inputname").value,
    Body :  "<h1>" +"Nom :" + document.getElementById("inputname").value +"</h1><h1>"+
     "<h1>" +"Prénom :" + document.getElementById("inputprenom").value +"</h1><h1>"+
     "<h1>" +"Email :" + document.getElementById("inputemail").value +"</h1><h1>"+
     "<h1>" +"Lieu de la mission :" + document.getElementById("inputlieu").value+"</h1><h1>"+
     "<h1>" +"Date de départ :" + document.getElementById("inputDate_départ").value +"</h1><h1>"+
     "<h1>" +"Date de retour :" + document.getElementById("inputDate_retour").value +"</h1><h1>"+
     "<h1>" +"Heure de départ :" + document.getElementById("inputHeure_départ").value +"</h1><h1>"+
     "<h1>" +"Heure de retour :" + document.getElementById("inputHeure_retour").value +"</h1><h1>"+
     "<h1>" +"Motif et description du déplacement :" + document.getElementById("motif").value +"</h1><h1>"+
     "<h1>" +"Moyen de locomotion :" + document.getElementById("moyen-select").value +"</h1><h1>"+
     "<h1>" +"Si autre moyen de locomotion :" + document.getElementById("autre_moyen").value +"</h1><h1>"+
      "<h1>" +"Qui prend en charge la mission? :"+ document.getElementById("message").value +"</h1><h1>"+
      "<h1>" +"Si voiture personnel :"+ document.getElementById("voiture").value,
}).then(
    message => alert(message)
);

}
</script>

<form name="myForm" method="post">
  <p>Pour pouvoir établir et estimer cette mission, j’ai besoin des renseignements ci-dessous :</p>
  <span> Votre Nom <span style="color: red;">*</span></span>
  <input type="text" value="" id="inputname"  />
  <span class="error" id="errorname"></span>
  <br><br>
  <label>Votre Prénom <span style="color: red;">*</span></label>
    <input  type="text" value="" id="inputprenom" />
    <span class="error" id="errorprenom"></span>
  <br> <br>
  <label>Votre Email <span style="color: red;">*</span></label>
    <input type="text" value="" id="inputemail" />
    <span class="error" id="erroremail"></span>
  <br> <br>
  <label>Lieu de la mission <span style="color: red;">*</span></label>
  <input type="text" value="" id="inputlieu" />
  <span class="error" id="errorlieu"></span>
  <br> <br>
   Date de départ <span style="color: red;">*</span>
    <input type="date"  value="" id="inputDate_départ" />
    <span class="error" id="errorDate_départ"></span>
  <br> <br>
Date de retour <span style="color: red;">*</span>
<input type="date"  id="inputDate_retour">
<span class="error" id="errorDate_retour"></span>
<br> <br>
  <label> Heure de départ </label>
   <input type="text" value="" id="inputHeure_départ" />
<br> <br>
  <label>Heure de retour</label>
<input  type="text" value="" id="inputHeure_retour"/> <br> <br>
  <label>Motif et description du déplacement</label>
  <textarea id="motif" placeholder= "Motif précis (joindre justificatif ou adresse page web)"  aria-labelledby=”message”></textarea>
  <br> <br>
  <label >Moyen de locomotion</label>
  <select id="moyen-select">
    <option value="Véhicule personnel">Véhicule personnel</option>
    <option value="SNCF">SNCF</option>
    <option value="AVION">AVION</option>
    <option value="Location">Location véhicule</option>
    <option value="Autre">Autre (préciser)</option>
</select>
  <br> <br>
  <label>Si autre moyen de locomotion </label>
  <input id="autre_moyen" type="text" placeholder = "Précisez lequel" />
  <br> <br>
  <label >Qui prend en charge la mission? </label>
  <textarea id="message"  placeholder = "Expliquez si possible comment cette demande peut bénéficier aux autres membres du laboratoire."aria-labelledby=”message”></textarea>
  <br> <br>
  <label>Si voiture personnel</label>
  <textarea id="voiture"  placeholder = "préciser lequel ? si nouveau véhicule joindre carte grise+attestation assurance" aria-labelledby=”message”></textarea>
 <br><br>
  Remarque:
  <br><br>
  Si vous avez des documents à me transmettre, envoyez -les moi par email (format pdf de préference)
  <br><br>
  <button type="button" class="btn btn-primary" onClick="validateForm()"> Envoyer</button>
  <button type="reset" class="btn btn-primary" > Remise à zéro</button>
</form>
<style>
.error{
  color: #D8000C;
  background-color: #FFBABA;
}
</style>
