
<form name= "ATTESTATION DE NONPAIEMENT" accept-charset="UTF-8" method="POST" role="form">
  <p>(pour une mission sans remboursement de frais)</p>
  <p>Pour pouvoir établir et estimer cette mission, j’ai besoin des renseignements ci-dessous :</p>
  <span for=”name”> Votre Nom <span style="color: red;">*</span></span>
  <input type=”text” id=”name” name=”name” required  Name” aria-labelledby=”name”/>
  <br><br>
  <label for=”prenom”>Votre Prénom <span style="color: red;">*</span></label>
  <input type=”text” id=”name” name=”name” required  aria-labelledby=”name”/>
  <br> <br>
  <label for=”prenom”>Lieu de la mission <span style="color: red;">*</span></label>
  <input type=”text” id=”name” name=”name” required  aria-labelledby=”name”/>
  <br> <br>
  <label for=”prenom”>Date de départ  <span style="color: red;">*</span></label>
  <input type=”text” id=”name” name=”name” required  aria-labelledby=”name”/>
  <br> <br>
  <label for=”message”>Date de retour <span style="color: red;">*</span></label>
  <textarea  rows="5" cols="10" id=”message” name=”message” placeholder= "Donner ici une description précise de la demande : mission à l’extérieur de l’établissement, invitation, demande de matériel, organisation d’évènement..." aria-labelledby=”message”></textarea>
  <br> <br>
  <label for=”message”> Heure de départ <span style="color: red;">*</span> </label>
  <textarea id=”message” name=”message” placeholder = "Donner ici une estimation réelle du coût de la demande : prix des billets de train, d'avion, de navette, de bus, de métro, prix des nuitées... Cette estimation servira de base pour le remboursement." aria-labelledby=”message”></textarea>
  <br> <br>
  <label for=”message”>Heure de retour<span style="color: red;">*</span> </label>
  <textarea id=”message” name=”message” placeholder = "Est-il nécessaire de prévoir des actions particulières (mettre à disposition un bureau, un ordinateur, faire des demandes auprès de l’administration comme l’ouverture d’un compte informatique, une demande de clé...) ?" aria-labelledby=”message”></textarea>
  <br> <br>
  <label for=”message”>Motif et description du déplacement <span style="color: red;">*</span></label>
  <textarea id=”message” name=”message” placeholder = "Donner ici des éléments permettant de connaître les moyens financiers dont vous disposez pour financer cette demande : les projets ACI ou PRES, les projets ANR, la participation à des GDR..." aria-labelledby=”message”></textarea>
  <br> <br>
  <label for=”message”>Moyen de locomotion <span style="color: red;">*</span></label>
  <textarea id=”message” name=”message” placeholder = "S’agit-il d’une demande ponctuelle ou s’inscrit-elle dans une collaboration effective qui est amenée à se poursuivre ? sous quelle forme ?" aria-labelledby=”message”></textarea>
  <br> <br>
  <label for=”message”>Si autre moyen de locomotion <span style="color: red;">*</span></label>
  <textarea id=”message” name=”message” placeholder = "Quels résultats en termes de production peut-on attendre (articles, communication dans une conférence, rédaction d’une demande de financement, mise en place d’un partenariat...) ?" aria-labelledby=”message”></textarea>
  <br> <br>
  <label for=”message”>Qui prend en charge la mission? <span style="color: red;">*</span></label>
  <textarea id=”message” name=”message” placeholder = "Expliquez si possible comment cette demande peut bénéficier aux autres membres du laboratoire."aria-labelledby=”message”></textarea>
  <br> <br>
  <label for=”message”>Si voiture personnel</label>
  <textarea id=”message” name=”message” placeholder = "Fournir ici toutes les informations complémentaires que vous jugerez pertinentes." aria-labelledby=”message”></textarea>
  Remarque:
  <br><br>
  Si vous avez des documents à me transmettre, envoyez -les moi par email (format pdf de préference)
  <input type="submit" value="Envoyer" />
  <input type="reset" value="Remise à zéro" />
</form>
<style>
.contact-form-wrapper {
width: 75%;
padding: 30px;
background: grey;
}
.contact-form-
wrapper input[type=text], input[type=email], textarea {
width: 100%;
margin-bottom: 15px;
padding: 5px;
}
.contact-form-wrapper textarea {
height: 20vh;
}
input[type='submit'] {
    grid-column: 2;
    grid-row: 2;
}
input[type=submit]:hover {
background-color: orange;
}
input[type='reset'] {
    grid-column: 2;
    grid-row: 2;
}
input[type=reset]:hover {
background-color: orange;

</style>
