<div class="container clearfix">
  <div class="hgroup-wrap clearfix">
{{ if .Site.Data.l10n.social }}
    <section class="hgroup-right">
      <div class="social-icons clearfix">
	<ul>
	  {{ if .Site.Social.facebook }}
	  <li class="facebook">
<img src="{{ .Site.Social.logo | absURL }}" class="floatRight"></img>
	  </li>
    <li class="github">
<img src="{{ .Site.Social.logorepub | absURL }}" class="floatRight"></img>
    </li>
	  {{ end }}

      </div><!-- .social-icons -->
    </section><!-- .hgroup-right -->
    {{ end }}

    <hgroup id="site-logo" class="clearfix">
      <h1 id="site-title">
	<a href="/" rel="home">
	  {{ if .Site.Params.logo }}
          <img src="{{ .Site.Params.logo | absURL }}"></img>
	  {{ end }}
	  {{ if .Site.Params.title_in_logo }}
	  <span class="site-title">{{ .Site.Title }}</span>
	  {{ end }}
	</a>
      </h1>
      <h2 id="site-description">{{ .Site.Params.site_description }}</h2>
    </hgroup><!-- #site-logo -->

  </div><!-- .hgroup-wrap -->
</div><!-- .container -->
<style>
.floatRight{
 float:right;margin-right:30px;
 height: 100px;
  width: 50;}
</style>
